
*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #5f5f5f;
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
	line-height: normal;
}

a,a:hover {text-decoration: none;}


ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

img{max-width: 100%}
button,
input{
	outline: none !important;
}
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
:focus {
    outline: none !important;
}
.mb-20{margin-bottom: 20px;}
.mb-50{margin-bottom: 50px;}

.modal-btn{
	cursor: pointer;
	position: relative;
	overflow:hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:none;
	padding: .6em 1.9em;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background-color: @green;
	color: #FFF;
	font-size: 16px;
	@media(min-width: 768px){
		margin-left: 0;
		font-size: 2.5vw;}
	@media(min-width: 1440px){font-size: 30px;}
}
// .modal-btn:after{
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	width: 0%;
// 	background-color: rgba(255,255,255, .25);
// 	transition: .6s;

// }
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

// .modal-btn:hover:after{
// 	width: 100%;
// }
.modal-title-wrapper{
	text-transform: uppercase;
	text-align: center;
	.modal-title{font-size: 16px;}
	.modal-subtitle{font-size: 10px;}

}
.modal-header{
	padding-top: 2em;
	border-bottom: 0px;
	-webkit-justify-content: center;
        justify-content: center;}
.modal-body{
	padding-bottom: 2em;
}
.modal-form{
	width: 100%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	.modal-btn{
		margin-left: auto;
		margin-right: auto;
		padding-left: 1em;
		padding-right: 1em;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	.form-control:focus {
	box-shadow: 0 0 0 0.2rem rgba(134,185,43,.25);
		border-color: #86b92b;}
}

.custom-close{
	position: absolute;
	right: 10px;
	top: 10px;
}
@media(min-width: 768px){
	.modal-dialog{max-width: 550px;}
	.modal-title-wrapper .modal-title{font-size: 26px;}
	.modal-title-wrapper .modal-subtitle{font-size: 14px;}
}
@media(min-width: 992px){
	.modal-dialog{max-width: 760px;}
	.modal-title-wrapper .modal-title{font-size: 36px;}
	.modal-title-wrapper .modal-subtitle{font-size: 20px;}
}
.title-2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	margin-bottom: 1.3em;
	@media(min-width: 580px){font-size: 30px;}
	@media(min-width: 992px){font-size: 40px;}
	@media(min-width: 1440px){font-size: 54px;}
}
.title-4{
	font-size: 24px;
	@media(min-width: 580px){
		font-size: 20px;
	}
	@media(min-width: 768px){
		font-size: 27px;
	}
}
.container{
  width: 100%;
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media(min-width: 992px){padding: 0px 25px;}
  @media(min-width: 1440px){padding: 0px 35px;}
  @media(min-width: 1920px){padding: 0px;}

}

.fix-contacts{
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;

	height: 50px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	position: fixed;
	z-index: 10;
}
.fix-contacts__item{
	display: flex;
	flex:1 1 0;
	text-transform: uppercase;
	font-size: 12px;
	a {color:#5f5f5f;}
	height: 50px;
	-webkit-justify-content: center;
	        justify-content: center;
	   -webkit-align-items: center;
	           align-items: center;
}
.fix-contacts__item:first-child{background-color: #f2f1cb;}
.fix-contacts__item{background-color: #86b92b;}
.fix-contacts__item:last-child{background-color: #89a6f9;}

//-button-hover
.modal-btn{
	cursor: pointer;
	position: relative;
	overflow:hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:none;
	padding: .6em 1.9em;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background-color: @green;
	color: #FFF;
	font-size: 16px;
	@media(min-width: 768px){
		margin-left: 0;
		font-size: 2.5vw;}
	@media(min-width: 1440px){font-size: 30px;}
}
.modal-btn {
  // background: #39cde9;
  // padding: 2em;
  // min-width: 200px;
  display: block;
  outline: none;
  // font-family: 'interstate', monospace;
  color: white;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  // border-radius: 4px;
  // overflow: hidden;
  // box-shadow: 0 0 50px -5px @green;
  transition: box-shadow 0.5s;
}
.modal-btn:after, .modal-btn:before {
  content: '';
  position: absolute;
  left: -50%;
  right: -50%;
  height: 0;
  padding-bottom: 200%;
  background: #cdd4a6;
  mix-blend-mode: color-burn;
  top: 0;
  z-index: -1;
  border-radius: 230px;
  transition: transform 1.5s, background 1.5s;
}
.modal-btn:after {
  transform: translate3d(-5%, 6em, 0) rotate(-45deg);
}
.modal-btn:before {
  transform: translate3d(5%, 6em, 0) rotate(0deg);
}
.modal-btn:hover, .modal-btn:focus {
  box-shadow: 0 0 50px -5px #cdd4a6;
}
.modal-btn:hover:before, .modal-btn:hover:after, .modal-btn:focus:before, .modal-btn:focus:after {
  transform: translate3d(0, -5em, 0) rotate(180deg);
  background: #cdd4a6;
}

.header-animate{
	position: absolute;
	right: 0;
	top: 100px;

}
//-answer
#answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contact-form__success {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #d8d061;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}
@media (min-width: 768px) {
  .contact-form__success {
    padding: 40px 60px;
  }
}
@media (min-width: 992px) {
  .contact-form__success {
    padding: 50px 100px;
  }
}