section.aboutus
	.container
		h2.title-2 О НАС в цифрах
		#number-slider
			.slider-item
				.slider-item_num 5+
				.slider-item_text Более #[span.color-span 5 лет] в сфере интернет-маркетинга
			.slider-item
				.slider-item_num 80+
				.slider-item_text Более #[span.color-span 80 успешных проектов] за время работы
			.slider-item
				.slider-item_num 10+
				.slider-item_text Более #[span.color-span 10 сотрудников] работает в компании Marketing Place
			.slider-item
				.slider-item_num 12+
				.slider-item_text Более #[span.color-span 12 городов] с которыми мы сотрудничаем, включая Москву и Санкт-Петербург
			.slider-item
				.slider-item_num 27+
				.slider-item_text Более #[span.color-span 27 обращений] в Marleting Place ежедневно
