// фиксирующееся верхнее меню

#header-fixed.header-fixed.active
	.container
		.header-menu
			a(href="index.html").header-logo
				img.d-block.d-md-none(src="img/logo-mob.png", alt="logo")
				img.d-none.d-md-block(src="img/logo2.png", alt="logo")
			.header-contacts.d-none.d-md-flex.order-md-3
				.icon-phone
					img.animated.pulse.infinite(src="img/phone.png", alt="phone")
				a.header-contacts__phone(href="tel:89535127770") +7&nbsp;953&nbsp;512&nbsp;777&nbsp;0

			// HEADER MENU
			nav.header-navigation#header-nav.order-md-2
				a.nav-item.active(href="sites.html") Сайты
				a.nav-item(href="#" data-toggle="modal" data-target="#serviceModal") Дизайн
				a.nav-item(href="#" data-toggle="modal" data-target="#serviceModal") Реклама
				a.nav-item(href="#" data-toggle="modal" data-target="#serviceModal") Smm
				a.nav-item(href="#" data-toggle="modal" data-target="#serviceModal") Seo
				a.nav-item(href="#" data-toggle="modal" data-target="#serviceModal") Email

			//ИКОНКА ГАМБУРГЕР
			.menu-toggle__block
				span.menu-toggle__text МЕНЮ
				.menu-toggle
					button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
						span toggle menu