// фиксирующееся верхнее меню
#header-fixed.header-fixed
	.container
		.header-menu
			.header-logo
				img.d-block.d-md-none(src="img/logo-mob.png", alt="logo")
				img.d-none.d-md-block(src="img/logo2.png", alt="logo")
			.header-contacts.d-none.d-md-flex.order-md-3
				.icon-phone
					img.animated.pulse.infinite(src="img/phone.png", alt="phone")
				a.header-contacts__phone(href="tel:89535127770") +7&nbsp;953&nbsp;512&nbsp;777&nbsp;0

			// HEADER MENU
			nav.header-navigation#header-nav.order-md-2
				a.nav-item.nav-item--hover(href="#"): span Сайты
				a.nav-item.nav-item--hover(href="#"): span Дизайн
				a.nav-item.nav-item--hover(href="#"): span Реклама
				a.nav-item.nav-item--hover(href="#"): span Smm
				a.nav-item.nav-item--hover(href="#"): span Seo
				a.nav-item.nav-item--hover(href="#"): span Email

			//ИКОНКА ГАМБУРГЕР
			.menu-toggle__block
				span.menu-toggle__text МЕНЮ
				.menu-toggle
					button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
						span toggle menu
header.header
	.container
		.mobile-content.d-md-none
			.mobile-contacts
				.mobile-contacts-col.text-center
					.icon-block.icon-block--phone
						img.animated.pulse.infinite(src="img/phone.png", alt="phone")
					.contacts-col-text позвонить
					a.header-contacts__phone(href="tel:89535127770") +7&nbsp;953&nbsp;512&nbsp;777&nbsp;0

				.mobile-contacts-col.text-center
					.icon-block.icon-block--pencil
						img(src="img/pencil.png", alt="pencil")
					.contacts-col-text написать
					.social-block
						.social-block__item
							img(src="img/vk.jpg", alt="vk")
						.social-block__item
							img(src="img/whatsapp.jpg", alt="whatsapp")
						.social-block__item
							img(src="img/tel.jpg", alt="telegram")
			.bg-img
				img(src="img/slide_mob.png", alt="фоновая картинка")

		.header-text
			//- img(src="img/spin.png", alt="")
			h1.title-1 ПРИВЕТ!
			h3.title-3.mb-20 Мы веб-студия Marketing Place. Занимаемся созданием сайтов, дизайном, упаковкой продукта, привлечением клиентов в бизнес. Полный комплекс услуг интернет-маркетинга.

			h3.title-3.last-paragrafe Задай вопрос прямо сейчас
			button.modal-btn
				span.button-text Задать вопрос
				span.button-icon
					img(src="img/btn-icon.png", alt="button")


