section.teame
	.container
		h2.title-2 НАША КОМАНДА
		.block-wrapper.d-block.d-md-none
			#teamSliderMobile
				.team-persone
					img(src="img/9.jpg", alt="team")
					.persone-info Антон Ген. директор

				.team-persone
					img(src="img/7.jpg", alt="team")
					.persone-info Владимир Руководитель отдела  маркетинга

				.team-persone
					img(src="img/3.jpg", alt="team")
					.persone-info Юлия Копирайтер

				.team-persone
					img(src="img/4.jpg", alt="team")
					.persone-info Сергей SEO-специалист


				.team-persone
					img(src="img/6.jpg", alt="team")
					.persone-info Георгий Директолог
				.team-persone
					img(src="img/8.jpg", alt="team")
					.persone-info Юлия SMM-специалист

				.team-persone
					img(src="img/2.jpg", alt="team")
					.persone-info Светлана Дизайнер
				.team-persone
					img(src="img/5.jpg", alt="team")
					.persone-info Артур Верстальщик
				.team-persone
					img(src="img/1.jpg", alt="team")
					.persone-info Наталья E-mail маркетолог

		#teamSlider.d-none.d-md-block
				.team-persone
					img(src="img/9.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Антон
							.persone-status Ген. директор

				.team-persone
					img(src="img/7.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Владимир
							.persone-status Руководитель отдела  маркетинга
				.team-persone
					img(src="img/3.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Юлия
							.persone-status Копирайтер



				.team-persone
					img(src="img/6.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Георгий
							.persone-status Директолог


				.team-persone
					img(src="img/4.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Сергей
							.persone-status SEO-специалист

				.team-persone
					img(src="img/8.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Юлия
							.persone-status SMM-специалист


				.team-persone
					img(src="img/2.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Светлана
							.persone-status Дизайнер
				.team-persone
					img(src="img/5.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Артур
							.persone-status Верстальщик
				.team-persone
					img(src="img/1.jpg", alt="team")
					.hover-block
						.hover-block-text
							.persone-name Наталья
							.persone-status E-mail маркетолог