section.reviews
	.container
		h2.title-2 КЛИЕНТЫ, КОТОРЫМИ МЫ ГОРДИМСЯ
		.row
			.col-md-5.col-lg-6
				.reviews-img
					img(src="img/clienty.png", alt="клиенты")
			.col-md-7.col-lg-6.reviewsSlider-wrapper
				#reviewsSlider
					.reviews-item.d-flex
						.reviews-item-text
							| Спасибо ребятам из веб-студии за комплексный подход к работе с клиентами в интернете, e-mail маркетинг оказался очень полезным.
							br
							| Изначально не думали использовать данный способ, но потом решили попробовать – получили прибыльные заказы. Еще раз бедились, что для пиара все средства хороши, и на это не нужно жалеть потраченные средства!

						.reviews-item-img
							img(src="img/client_1.jpg", alt="наши клиенты")

					.reviews-item.d-flex
						.reviews-item-text
							| Спасибо ребятам из веб-студии за комплексный подход к работе с клиентами в интернете, e-mail маркетинг оказался очень полезным.
							br
							| Изначально не думали использовать данный способ, но потом решили попробовать – получили прибыльные заказы. Еще раз бедились, что для пиара все средства хороши, и на это не нужно жалеть потраченные средства!

						.reviews-item-img
							img(src="img/client_2.jpg", alt="наши клиенты")
					.reviews-item.d-flex
						.reviews-item-text
							| Спасибо ребятам из веб-студии за комплексный подход к работе с клиентами в интернете, e-mail маркетинг оказался очень полезным.
							br
							| Изначально не думали использовать данный способ, но потом решили попробовать – получили прибыльные заказы. Еще раз бедились, что для пиара все средства хороши, и на это не нужно жалеть потраченные средства!

						.reviews-item-img
							img(src="img/client_3.jpg", alt="наши клиенты")
					.reviews-item.d-flex
						.reviews-item-text
							| Спасибо ребятам из веб-студии за комплексный подход к работе с клиентами в интернете, e-mail маркетинг оказался очень полезным.
							br
							| Изначально не думали использовать данный способ, но потом решили попробовать – получили прибыльные заказы. Еще раз бедились, что для пиара все средства хороши, и на это не нужно жалеть потраченные средства!

						.reviews-item-img
							img(src="img/client_4.jpg", alt="наши клиенты")
					.reviews-item.d-flex
						.reviews-item-text
							| Спасибо ребятам из веб-студии за комплексный подход к работе с клиентами в интернете, e-mail маркетинг оказался очень полезным.
							br
							| Изначально не думали использовать данный способ, но потом решили попробовать – получили прибыльные заказы. Еще раз бедились, что для пиара все средства хороши, и на это не нужно жалеть потраченные средства!

						.reviews-item-img
							img(src="img/client_5.jpg", alt="наши клиенты")
					.reviews-item.d-flex
						.reviews-item-text
							| Спасибо ребятам из веб-студии за комплексный подход к работе с клиентами в интернете, e-mail маркетинг оказался очень полезным.
							br
							| Изначально не думали использовать данный способ, но потом решили попробовать – получили прибыльные заказы. Еще раз бедились, что для пиара все средства хороши, и на это не нужно жалеть потраченные средства!

						.reviews-item-img
							img(src="img/client_6.jpg", alt="наши клиенты")
