section.service
	.container
		h2.title-2.title-2--service услуги
		.service--mobile.d-block.d-md-none
			.row
				.col-4.col-flex
					h2.title-2 услуги
				.col-8
					.servise-img
						img(src="img/uslugi.png", alt="image")
		.row
			.col-md-6
				.servise-img.d-none.d-md-block
					img(src="img/uslugi.png", alt="image")
			.col-sm-6.col-md-6.col-lg-4.col-xl-3
				a(href="#").product-card.product-card--service
					.product-card-icon
						img.product-icon(src="img/serv1.png", data-src= "img/serv1.png" data-hover= "img/serv1a.png" alt="icon")
					.title-4.title-4--card Создание сайтов
					.card-text Создание красивых, продающих сайтов под ключ. От сайта-визитки до интернет-магазина
					.product-card-arrow.animated.pulse.infinite
						i.fas.fa-long-arrow-alt-right
			a(href="#").col-sm-6.col-lg-4.col-xl-3
				.product-card.product-card--service
					.product-card-icon
						img.product-icon(src="img/serv2.png", data-src= "img/serv2.png" data-hover= "img/serv2a.png" alt="icon")
					.title-4.title-4--card Дизайн
					.card-text От визитки до брендубка. Красиво, локанично и просто
					.product-card-arrow.animated.pulse.infinite
						i.fas.fa-long-arrow-alt-right
			a(href="#").col-sm-6.col-lg-4.col-xl-3
				.product-card.product-card--service
					.product-card-icon
						img.product-icon(src="img/serv3.png", data-src= "img/serv3.png" data-hover= "img/serv3a.png" alt="icon")
					.title-4.title-4--card Реклама
					.card-text Контекстная реклама в поисковых системах Yandex и Google.
					.product-card-arrow.animated.pulse.infinite
						i.fas.fa-long-arrow-alt-right

			a(href="#").col-sm-6.col-lg-4.col-xl-3
				.product-card.product-card--service
					.product-card-icon
						img.product-icon(src="img/serv4.png", data-src= "img/serv4.png" data-hover= "img/serv4a.png" alt="icon")
					.title-4.title-4--card Smm
					.card-text Продвижение в соц.сетях. Ведение аккаунтов,настройка рекламных кампаний, аналитика и отчеты

					.product-card-arrow.animated.pulse.infinite
						i.fas.fa-long-arrow-alt-right
			a(href="#").col-sm-6.col-lg-4.col-xl-3
				.product-card.product-card--service
					.product-card-icon
						img.product-icon(src="img/serv5.png", data-src= "img/serv5.png" data-hover= "img/serv5a.png" alt="icon")
					.title-4.title-4--card Seo
					.card-text Внутренняя и внешняя Seо оптимизация Вашего сайта. Вывод в топ 10 путем органической&nbsp;выдачи

					.product-card-arrow.animated.pulse.infinite
						i.fas.fa-long-arrow-alt-right
			a(href="#").col-sm-6.col-lg-4.col-xl-3
				.product-card.product-card--service
					.product-card-icon
						img.product-icon(src="img/serv6.png", data-src= "img/serv6.png" data-hover= "img/serv6a.png" alt="icon")
					.title-4.title-4--card Email
					.card-text Email маркетинг. Стратегия коммуникации между Вашей компанией и клиентами.
					.product-card-arrow.animated.pulse.infinite
						i.fas.fa-long-arrow-alt-right






