.header--sites {


	@media(min-width:1440px) {
		background-position: right;
		background-size: contain;
	}

	@media(min-width:580px) {
		background-image: url(../img/sites/sites.jpg);
		background-size: cover;
		background-size: contain;
		background-position: right;
	}
}

@media(min-width:1440px) {

	.header-inner-text .title-1 {
		font-size: 54px;
		text-transform: uppercase;
		margin-bottom: 25px;
		font-weight: 700;
	}

}

.header-inner-text.header-text {
	width: 85%;
	margin-left: auto;
	margin-right: auto;

	.title-3 {
		line-height: 1.1;
	}

	@media(min-width:580px) {
		width: 40%;
		margin-left: 10%;
		padding-top: 100px;
	}

	@media(min-width:768px) {
		width: 35%;
		padding-top: 0;


		.modal-btn {
			padding-left: 16px;
			padding-right: 16px;
		}

		.title-3 {
			max-width: 23ch;
		}
	}

	@media(min-width:992px) {
		width: 45%;
		min-width: 300px;
	}

	@media(min-width:1440px) {
		margin-left: 0;
	}

	.modal-btn {
		margin-left: 0;
	}
}

.presentaision-block {
	display: flex;
	align-items: center;
	font-size: 15px;
	padding-top: 1.8em;

	@media(min-width: 1440px) {
		font-size: 20px;
	}
}

.present-play {

	display: block;
	margin-right: 1.2em;

	svg {
		width: 4em;
		height: 4em;

	}
}

.present-text {
	font-size: 1.5em;
	line-height: 1;

	@media(min-width:767px) {
		font-size: 1.8em;
	}
}

.fil0 {
	fill: #86b92b;
	fill-rule: nonzero
}