.product-card{
	position: relative;
	padding: 25px 20px 20px 44px;
	height: 320px;
	transition:all .5s ;

}
.product-card-arrow{
	left: 44px;
	bottom: 20px;
	position: absolute;
	}
.product-card-icon{
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
}
.title-4--card{margin-bottom: 12px;}
.product-card:hover{
	border-radius: 4px;
  	box-shadow: 0px 8px 51.46px 10.54px rgba(0, 3, 2, 0.23);
	color: #FFF;
	background-color: @green;
}
.product-card-arrow{
	font-weight: 700;
	font-size: 30px;
	// color: #FFF;
}