extends ../layouts/layout.pug

block content
	include ../sections/_header-top.pug
	include ../sections/_header-inner.pug
	include ../sections/_service-inner.pug
	include ../sections/_our-projects.pug
	include ../sections/_sites-result.pug	
	include ../sections/_aboutus.pug
	include ../sections/_ourteam.pug
	include ../sections/_reviews.pug
	include ../sections/_contacts.pug
	include ../sections/_footer.pug


block variables
	-var title = "MP";