block variables


doctype html
html(lang='ru')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title #{title}
		meta(name="keywords" content="" )
		meta(name="description" content="" )
		link( rel="stylesheet" href="libs/bootstrap/bootstrap.min.css")
		link( rel="stylesheet" href="libs/animate.css")
		link( rel="stylesheet" href="libs/slick/slick.css")
		link( rel="stylesheet" href="libs/slick/slick-theme.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet")

		link(rel="shortcut icon" href="img/favicon.png"  type="image/x-icon" )
		link(rel="stylesheet", href="css/main.css")

	body

		.fix-contacts.d-md-none
			.fix-contacts__item
				a(href="#" data-toggle="modal" data-target="#serviceModal") Заявка
			.fix-contacts__item
				a(href="https://api.whatsapp.com/send?phone=79535127770") Whatsapp
			.fix-contacts__item
				a(href="tel:+79535127770" ) Позвонить
		block content

		script(src="libs/jquery/jquery-3.0.0.min.js")
		script(src="libs/bootstrap/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="libs/slick/slick.min.js")
		script(src="libs/wow.min.js")
		script(src="libs/jquery.maskedinput.min.js")
		script(src='js/gamburger.js')
		//- script(src='S_Dialog_media/S_Dialog_player_embed.js')
		script(src='js/main.js')